<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new Post</title>
    <link rel="stylesheet" href="/style.css" >
</head>
<body>
<form method="post" action="/posts">
    <input type="text" name="username" placeholder="enter username"><br>
    <br>
    <textarea name="content" placeholder="enter content"></textarea><br>
    <br>
    <input type="email" name="email" placeholder="enter email"><br>

    <input type="submit" name="submit " value="submit"><br>
</form>

</body>
</html>